<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.supercooker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/steak_icon_round"
        android:supportsRtl="true"
        android:theme="@style/GreenAppTheme">
        <activity android:name="UIMain.AboutApp"></activity>
        <activity
            android:name="UIMain.Loading"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Salads.Salad4Finish"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="Salads.Salad3Finish"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="Salads.Salad2Finish"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="Salads.Salad1Finish"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UIMain.PopularDishes"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UIMain.FoodCategories2"
            android:label="@string/title_activity_food_categories2" />
        <activity
            android:name="UIMain.HomeScreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="UIMain.SaladRecipes"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UIMain.FoodCategories"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="Salads.IngredientsSalad4"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="Salads.IngredientsSalad3"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="Salads.IngredientsSalad2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="Salads.IngredientsSalad1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.ChoosingGarnishForSteak"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UIMain.Settings"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.FinishSteak"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.RoastingSides"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.PreparingForCooking"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.ChoosingRecipe"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.Fry"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.PutSteakOnPan"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.SprinkleWithSpices"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.LubricateWithOil"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UISteak.Ingredients"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="UIMain.MeatRecipes"
            android:label="SuperCooker"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>